.game {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

.square {
  font-size: 30px;
  font-weight: bolder;
  border: solid blue 5px;
  background-color: yellow;
  color: blue;
  width: 60px;
  height: 60px;
}

.board-row {
  width: auto;
  height: auto;
  display: flex
}

.description-btns {
  padding: 10px;
  font-size: 15px;
  border: 2px black solid;
  cursor: pointer;
  min-width: 150px;
}

ol {
  display: grid;
  grid-template-columns: auto auto auto;
}

li {
  margin: 1rem;
}

.description-row {
  min-width: 170px;
}

@media screen and (max-width: 900px) {
  .game {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
  }

  ol {
    display: flex;
    flex-direction: column-reverse;
  }

  li {
    margin: 10px;
  }
}