html, body {
  text-align: center;
  height: 100%;
}
.App {
  height: 100vh;
}

.change-color-btn {
  border-radius: 10px;
  background-color: rgba(137, 43, 226, 0.749);
  color: white;
  padding: 10px;
}
